/* 
  STYLES FOR DESKTOP
*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discovery {
  display: flex;
  gap: 8px;
}

.discovery p,
.description {
  font-size: 15px;
  font-weight: 400;
}

.header_text {
  margin-top: 187px;
}

.home_image {
  margin-top: 96.31px;
}
.community {
  font-size: var(--heading-one);
  margin-top: 15px;
  font-weight: 600;
}

.community span {
  color: #5600e2;
}

.description {
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 32px;
  color: #272727;
}

.signup {
  border: none;
  color: #fff;
  background: #5600e2;
  box-shadow: 0px 4px 20px rgba(86, 0, 226, 0.25);
  border-radius: 12px;
  padding: 20px;
  margin-top: 64px;
  /* height: 60px; */
}

/* ABOUT */
.about_wrapper {
  padding: 40px 0;
  background: rgba(86, 0, 226, 0.02);
  margin-top: 116px;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  align-items: center;
  gap: 66px;
}

.about_text {
  position: relative;
}

.about_text p {
  font-weight: 400;
  font-size: var(--para-one);
  line-height: 30px;
  color: #272727;
}

.about_text h2 {
  font-weight: 700;
  font-size: 36px;
  position: absolute;
  top: 10px;
  left: 50px;
  color: #1d1e20;
}

.features {
  background-image: url("/assets/featuresBackground.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  margin-top: 116px;
  margin-bottom: 116px;
}

.feature_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #5600e2;
  text-align: center;
}

.features_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #272727;
  margin-bottom: 44px;
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 54px;
}

.card {
  border: 1px solid #5600e2;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 319px;
  height: 294px;
  align-content: center;
  background-color: #fff;
  align-items: center;
}

.feature_icon {
  margin-top: 24px;
}

.feature_header {
  margin-top: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: rgba(86, 0, 226, 0.7);
  opacity: 0.8;
}

.feature_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-top: 16px;
}

/* contact */
.contact {
  display: flex;
  padding: 20px 0;
  /* gap: 81px; */
}

.left {
  /* width: 50%; */
  flex: 1;
  height: 732px;
  background: rgba(255, 247, 234, 0.5);
}

.contact_image {
  display: flex;
  justify-content: center;
  height: 732px;
  align-items: center;
}

.right {
  flex: 1;
  padding-left: 20px;
}

.right h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #5600e2;
}

.right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #272727;
}

.right input:focus,
.right textarea:focus {
  outline: 1px solid var(--primary-100);
}

.right input,
.right textarea {
  text-indent: 5px;
}

.right input {
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  padding: 12px;
  width: 90%;
  margin-bottom: 24px;
}

.right textarea {
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  width: 90%;
}

.right textarea::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #cbcbcb;
}

.contact_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right button {
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 151px;
  height: 49px;
  background: #5600e2;
  box-shadow: 0px 4px 20px rgba(86, 0, 226, 0.25);
  border-radius: 12px;
  margin-top: 40px;
}

/* STYLES FOR MOBILE */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discovery {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .discovery p {
    font-size: var(--para-small-two);
  }

  .community {
    font-size: var(--para-one);
    text-align: center;
  }

  .community_break {
    display: none;
  }

  .home_image {
    margin-top: 0;
    order: 0;
  }

  .header_text {
    margin-top: 20px;
    order: 1;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
  }

  .description {
    font-size: var(--para-two);
    text-align: left;
  }

  .signup {
    margin-top: 32px;
    box-shadow: 0px 1.28789px 6.43943px rgba(86, 0, 226, 0.25);
  }

  /* about section */

  .about {
    flex-direction: column;
  }

  /* features */
  .card {
    width: 176px;
    height: 151px;
    padding: 0 5px;
  }
  .feature_icon {
    /* margin-top: 10px; */
    width: 20px;
    height: 20px;
  }

  .feature_icon img {
    width: 100%;
  }

  .feature_header {
    font-size: var(--para-one);
    margin-top: 0;
    margin-bottom: 0;
  }

  .feature_description {
    font-size: var(--para-small-two);
    align-items: center;
    margin-top: 0;
    line-height: 16px;
  }

  /* GET IN TOUCH */
  .left {
    width: 100%;
  }
  .contact {
    flex-direction: column;
  }
  .right {
    margin-right: 0;
    margin-left: 0;
  }
  .right input,
  .right textarea {
    width: 100%;
  }

  .right button {
    width: 100%;
  }

  .right h2 {
    font-size: var(--para-one);
  }

  .right p {
    font-size: var(--para-small-one);
  }
}
