.library_wrapper {
  /* margin-bottom: 10rem; */
  padding: 40px 0;
}

.library_wrapper h2 span {
  color: var(--primary-100);
}

.library_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library_search_wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #5600e2;
  border-radius: 8px;
  height: 60px;
  width: 430px;
  margin-top: 32px;
  padding: 0;
}

.library_search_wrapper input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  width: 80%;

  text-indent: 5px;
}
.library_search_wrapper input::placeholder {
  color: #575757;
}

.library_search_wrapper_icon {
  background-color: var(--primary-100);
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 0;
}

.library_search_wrapper_icon img {
  color: #fff;
}

.library_header_sort select {
  color: var(--primary-100);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

/* code samples */
.library_samples_wrapper {
  margin-top: 50px;
  border-top: 1px solid #5600e2;
}

@media screen and (max-width: 600px) {
  .library_wrapper h2 {
    font-size: var(--heading-five);
  }
  .library_header {
    flex-direction: column;
    gap: 20px;
  }

  .library_search_wrapper {
    width: 100%;
  }

  .library_header_sort {
    align-self: flex-end;
    text-align: end;
  }
}
