.cnt{
  display: flex;
  align-items: center;
  font-family: 'Sora';
  font-style: normal;
  margin-top: 36px;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
}
.wrapper h1{
  font-weight: 600;
  font-size: 45px;
  line-height: 57px;
  color: #5600E2;
  text-align: center;
  margin-top: 98px;
}
.wrapper p{
  margin-top: 16px;
  height: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #272727;
}
.frame1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 119px;
  margin-top: 94px;
  margin-left: 53px;
}
.frame1 .fname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.fname label{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}
.fname input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(29, 30, 32, 0.3);
  border-radius: 8px;
  width: 558px;
  height: 72px;
}
.frame1 .lname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.lname label{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}
.lname input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(29, 30, 32, 0.3);
  border-radius: 8px;
  width: 558px;
  height: 72px;
}
.frame2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 119px;
  margin-top: 94px;
  margin-left: 53px;
}
.frame2 .em {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.em label{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}
.em input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(29, 30, 32, 0.3);
  border-radius: 8px;
  width: 558px;
  height: 72px;
}
.frame2 .phnum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.phnum label{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
}
.phnum input{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(29, 30, 32, 0.3);
  border-radius: 8px;
  width: 558px;
  height: 72px;
}
.iptfield{
  margin-top: 56px;
  text-align: center;
  font-style: normal;
}
.iptfield p{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #575757;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: left;
  margin-left: 53px;
}
.iptfield textarea{
  width: 1236px;
  height: 406px;
  margin-top: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(29, 30, 32, 0.3);
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  resize: none;
}
.btncontainer{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-style: normal;
}
.btn{
  padding: 20px 40px;
  gap: 20px;
  width: 608px;
  height: 68px;
  margin-top: 83px;
  background: #5600E2;
  border-radius: 8px;
  border: #5600E2;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 80px;
}


@media screen and (max-width: 600px) {
  .frame1 {
    flex-direction: column;
    margin-left: 35px;
  }

  .fname input {
    width: 327px;
  }

  .lname input{
    width: 327px;
  }

  .em input{
    width: 327px;
  }

  .phnum input{
    width: 327px;
  }

    .frame2{
      flex-direction: column;
      margin-left: 35px;
    }
    .iptfield textarea{
      width: 325px;
      height: 195px;
    }

  .btn{
    width: 300px;
  }
}