/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

/* body */
body {
    width: 100%;
    height: 100vh;
}

/* container holding both sides(A & B) */
.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 850px;
}

/* side A */
.A {
    text-align: center;
    padding: 170px;
    padding-top: 280px;
    width: 50%;
    height: 100%;
    background: #5600E2;
    color: #fff;
}

/* top curved line */
.top {
    position: absolute;
    top: -5px;
    left: 350px;
}

/* logo in logo-text container */
.A>.logo-text>img {
    margin-bottom: 25px;
}

/* reset password text */
.A>.logo-text>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45.36px;
}

/* instructions on how to reset password */
.A>.logo-text>p {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
}

/* bottom curve line */
.bottom {
    position: absolute;
    bottom: -193px;
    left: 2px;
}

/* end of side A */


/* side B */
.B {
    width: 50%;
    height: 850px;
    padding: 0 50px;
    padding-top: 110px;
}

/* form */
.form {
    margin-top: 130px;
}

/* container for each label and input */
.form>.form-control {
    margin-bottom: 20px;
}

/* labels in form */
.form>.form-control>label {
    font-weight: 600;
    font-size: 16px;
    color: #575757;
    line-height: 20.16px;
}

/* label text */
.form>.form-control>label>p {
    margin-bottom: 10px;
}

/* input in form */
.form>.form-control>input {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(29, 30, 32, 0.3);
    border-radius: 8px;
}

/* error messages */
.form>.form-control>.error {
    color: red;
    visibility: hidden;
}

/* change password button */
#ch-password-btn {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background: #5600E2;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

#ch-password-btn:hover {
    background: #8E54EC;
}

#ch-password-btn:active {
    background: #3D00A0;
}

/* change password button text */
#ch-password-btn>h6 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/* end of sidde B */