/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
/* body */
body {
    width: 100%;
    height: 100vh;
}

/* container holding both sides(A & B) */
.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 850px;
}

/* side A */
.A {
    text-align: center;
    padding: 180px;
    padding-top: 230px;
    width: 50%;
    height: 100%;
    background: #5600E2;
    color: #fff;
}
/* top curved line */
.top {
    position: absolute;
    top: 7px;
    left: 465px;
}
/* logo in logo-text container */
.A>.logo-text>img {
    margin-bottom: 25px;
}
/* welcome text */
.A>.logo-text>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45.36px;
}
/* paragraph text */
.A>.logo-text>p {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
}
/* bottom curve line */
.bottom {
    position: absolute;
    bottom: -200px;
    left: 2px;
}
/* end of side A */


/* side B */
.B {
    width: 50%;
    height: 100%;
    padding: 0 50px;
    padding-top: 90px;
}
/* container for signup & signin page links */
.B>.links {
    display: flex;
    padding: 0 40px;
    width: 100%;
    justify-content: space-between;
    font-weight: 700;
    font-size: 28px;
}
/* links heading */
.B>.links>.sign-link>h3 {
    text-align: center;
}
/* heading link styling */
.B>.links>.sign-link>h3>a {
    text-decoration: none;
    color: #5600E2;
}
.B>.links>.sign-link>h3>a:hover{
    color: #8E54EC;
}
.B>.links>.sign-link>h3>a:active{
    color: #3D00A0;
}
/* underline under link */
.links>.sign-link>.underline {
    margin-top: 10px;
    background-color: #5600E2;
    border-radius: 4px;
    width: 200px;
    height: 4px;
}
/* signin heading fade */
.B>.links>.signin>h3>a {
    color: #CBCBCB;
}
/* underline under link fade */
.B>.links>.signin>.underline {
    background-color: #CBCBCB;
}

/* form */
.form {
    margin-top: 40px;
}
/* container for each label and input */
.form>.form-control {
    margin-bottom: 20px;
}
/* labels in form */
.form>.form-control>label {
    font-weight: 600;
    font-size: 16px;
    color: #575757;
    line-height: 20.16px;
}
/* label text */
.form>.form-control>label>p {
    margin-bottom: 10px;
}
/* input in form */
.form>.form-control>input,
.form>.form-control>.input-icon>input {
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(29, 30, 32, 0.3);
    border-radius: 8px;
}
/* container for password input and icon */
.form>.form-control>.input-icon {
    display: flex;
}
/* eye icon */
.form>.form-control>.input-icon>i {
    margin-top: 12px;
    margin-left: -30px;
    color: #CBCBCB;
    cursor: pointer;
}
/* error message */
.form>.form-control>.error {
    color: red;
    visibility: hidden;
}
/* signup button */
#signup-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: #5600E2;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
#signup-btn:hover {
    background: #8E54EC;
}
#signup-btn:active {
    background: #3D00A0;
}
/* signup button text */
#signup-btn>h6 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
/* end of sidde B */