* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sora, sans-serif;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  color: #fff;
}

.header-text .man{
  width: 40%;
  justify-content: space-between;
  position: absolute;
  left: 700px;
  margin-top: -30px;
  
}
.container {
  padding: 30px 5%;
 
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  position: relative;
  width: 107.75px;
  height: 28.36px;
  left: 40px;
  top: 10px;
  gap: 11px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  top: 10px;
  position: relative;
  left: 50px;
}
nav ul li a {
  width: 100px;
  height: 23px;
  color: #575757;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.container span {
  color: #5600e2;
  width: 56px;
  height: 23px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.login {
  position: relative;
  background-color: #fff;
  width: 55px;
  height: 28px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #5600e2;
  padding: 5px;
  color: #5600e2;
  border-radius: 8px;
  cursor: pointer;
}
.login img {
  width: 14px;
  height: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: -2px;
}
.signup {
  position: relative;
  background-color: #5600e2;
  width: 55px;
  height: 28px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #5600e2;
  padding: 5px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  right: 30px;
}

.full {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  position: absolute;
  width: 225px;
  height: 60px;
  left: 100px;
  top: 660px;
  background-color: #5600e2;
  box-shadow: 0px 4px 20px rgba(86, 0, 226, 0.25);
  border-radius: 12px;
  width: 185px;
  height: 20px;
  font-family: "sora";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  align-items: center;
  line-height: 20px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.header-text {
  margin-top: 10%;
  font-size: 20px;
  color: #272727;
 
}

.header-text h1 {
  position: absolute;
  width: 518px;
  height: 128px;
  left: 100px;
  top: 317px;
  font-family: "sora";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 64px;
  color: #272727;
}
.header-text h1 span {
  color: #5600e2;
  font-size: 40px;
}
.header-text1 {
  font-family: 'sora';
  font-weight: 400;
  color: #575757;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 470px;
  height: 20px;
  left: 125px;
  top: 285px;
  
  
}
/*-----small icon----*/
.header-text1 img {
  position: absolute;
  left: -20px;
  width: 13px;
  height: 18px;

  justify-content: space-between;
}

.header-text h6{
  position: relative;
  top: 270px;
  left: 38px;
  line-height: 32px;
  font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #272727;
}


/*-----------about us---------------*/

#about {
  padding: 80px 0; 
 background-color: rgba(255, 247, 234, 0.5);
  background-image: url(img/About\ us\ circle.svg);
  background-repeat: no-repeat;
  background-size: 200px 100px;
  background-position: 805px;
  background-position-y: 110px;

  
  margin-top: 350px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  
  width: 150%;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 50px;
  cursor: pointer;
  top: 100px;
  
  
 
}
.about-col-2 {
  flex-basis: 65%;
}
.about-col-2 h1 {
  color: #272727;
}
.sub-titles {
  font-size: 36px;
  font-weight: 700;
  color: #1d1e20;
  margin-left: 40%;
  padding: 20px;
  line-height: 70px;
}

.sub-info {
  margin-left: 40%;
  line-height: 30px;
  color: #272727;
  width: 419px;
  height: 210px;
  font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 16px;
}

/*-------our features----------------*/

#services {
  padding: 30px 0;
  background-image: url(img/Core\ Features\ SVG\ bg.svg);
  margin-top: 100px;
}
.containers h1 {
  color: #5600e2;
  margin-left: 40%;
  font-size: 20px;
  padding: 50px;
  margin-bottom: -50px;
  font-weight: 600;
  line-height: 25px;
}

.containers h5 {
  color: #131415;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-family: "sora";
  font-size: 16px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
 
}

.boxtext3{
  position: absolute;
}

.features1-box {
  background-color: #ffffff;
  width: 360px;
  height: 266px;
  border: 1px solid #5600e2;
  padding: 50px;
  margin: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.features2-box {
  background-color: #ffffff;
   width: 360px;
   height: 266px;
   border: 1px solid #5600e2;
   padding: 50px;
   margin: 20px;
   text-decoration: none;
   border-radius: 10px;
 }

 .features3-box {
   background-color: #ffffff;
   width: 360px;
   height: 266px;
   border: 1px solid #5600e2;
   padding: 50px;
   margin: 20px;
   text-decoration: none;
   border-radius: 10px;
 }


.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 50px;
  box-sizing: border-box;
  margin-top: 20px;
}

.download-span span {
  width: 30px;
  margin-left: 70px;
  text-align: center;
  line-height: 90px;
  color: rgba(85, 0 226, 0.7);
  opacity: 0.8;
}
.contribute-span span {
  width: 30px;
  margin-left: 70px;
  text-align: center;
  line-height: 90px;
  color: rgba(85, 0 226, 0.7);
  opacity: 0.8;
}
.view-span span {
  width: 30px;
  margin-left: 30px;
  text-align: center;
  line-height: 90px;
  color: rgba(85, 0 226, 0.7);
  opacity: 0.8;
}

.icon1 {
  margin-top: -80px;
  margin-left: 100px;
  width: 20%;
  color: #5600e2;
}
.icon2 {
  margin-top: -80%;
  margin-left: 100px;
  width: 20%;
  color: #5600e2;
  gap: 24px;
}
.icon3 {
  margin-top: -80%;
  margin-left: 100px;
  width: 20%;
  color: #5600e2;
}

/*.features-box p*/
.services-list p {        
  font-family: "sora";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  padding: 10px;
  line-height: 1.5;
  margin-top: -5px;
  color: #272727;
  text-align: center;
}

/*------------get in touch-------*/

#getintouch {
  padding: 80px 0;
  color: #272727;


  margin-top: 500px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-11 img {
  margin-top: -500px;

  width: 500px;
  height: 732px;
  position: absolute;
  background-color: rgba(255, 247, 234, 0.5);
  box-shadow: 70px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  justify-content: space-between;
  
}
.about-col-22 {
  flex-basis: 65%;
}
.about-col-22 h1 {
  color: #272727;
}
.sub-get span {
  font-family: "sora";
  width: 300px;
  height: 45px;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  left: 500px;
  top: 70px;
  color: #5600e2;
  padding: 10px;
  margin-left: 100px;
  position: absolute;
  top: 2110px;
  
  
  
}
.btn2 {
  width: 151px;
  padding: 12px 24px 12px 24px;
  color: #fff;
  gap: 10px;
  background-color: #5600e2;
  border: none;
  border-radius: 12px;
  width: 20%;
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 45%;
  box-shadow: 0px 4px 20px rgba(86, 0, 226, 0.25);
  right: 300px;
  position: absolute;
}

.sub-getin {
  line-height: 26px;
  margin-left: 120px;
  font-size: 16px;
  font-family: "sora";
  font-weight: 400;
  font-style: normal;
  width: 504px;
  height: 49px;
  left: 490px;
  position: absolute;
  top: 2180px;
}

.sub-info {
  margin-left: 40%;
}

/*--------Form--------*/

form input,
form textarea {
  width: 80%;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 14px;
  border-radius: 8px;
  margin-left: 120px;
  position: relative;
  border: 1px solid #cbcbcb;
  color: #CBCBCB;

 top: -400px;
}

.contact-right textarea {
  height: 50vh;
}

/*--------footer---------*/

.footer {
  position: absolute;
width: 1355px;
height: 246px;
left: -6px;
top: 3005px;
background: #3D00A0; 
}

.footerlogo img {
  
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;
position: relative;
width: 194.5px;
height: 54.44px;
margin-top: 80px;
left: 64px;
}


.container .tex-center{
  
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 91px;
width: 890.5px;
height: 117px;
}

.col-md-a{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 134px;
height: 117px;

flex: none;
order: 0;
flex-grow: 0;
font-size: 10px;
position: relative;
top: 48px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
line-height: 20px;
left: 100px;
}
.col-md-a p{
  color: #CBB0F6;
}

.col-md-b{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 159px;
  height: 117px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: 10px;

  position: relative;
  top: 48px;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
line-height: 20px;
left: 40px;
}
.col-md-b p{
  color: #CBB0F6;
}

.col-md-c{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 89px;
  height: 85px;
  flex: none;
  order: 2;
  flex-grow: 0; 
  font-size: 10px;
  position: relative;
  top: 48px;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
line-height: 20px;
}
.col-md-c p{
  color: #CBB0F6;
}

.vl{
  border: 1px solid #CBB0F6;
  height: 90px;
  position: relative;
  left: 440px;
  top: 50px;
  
}
.col-md-d{
  width: 235.5px;
height: 66px;
flex: none;
order: 3;
flex-grow: 0;
font-size: 10px;
position: relative;
top: 35px;
color: #CBB0F6;
}

.symbol{
  width: 100px;
  color: #CBB0F6;
  position: relative;
  right: 10px;
  top: 13px;
  text-decoration: none;
 
}
.circle{
  position: absolute;
right: 88.77%;
top: -72.36%;
bottom: -115.85%;
mix-blend-mode: normal;
opacity: 0.5;
}






/*------------for small screens------------*/

nav .fas{
  display: none;
}

@media only screen and (max-width: 600px) {
  nav ul li a{
  display: none;
 }

.header-text .man{
  position: absolute;
  margin-left: -590px;
  width: 200px;
  margin-top: -6px;
}

 .logo{
  position: absolute;
  left: 25px;
  top: 45px;
 }
 
 .header-text1{
  width: 278px;
  height: 13px;
  
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #575757;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
 margin-left: -65px;
margin-top: 25px;

 }

 .header-text1 img{
  position: absolute;
left: -15px;
right: 11.57%;
top: -3px;
 }

 .header-text h1{
  position: absolute;
  width: 285px;
  height: 20px;
  left: 47px;
  top: 400px;
  
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
  margin-top: -70px;
 }

 .header-text h1 span{
  position: absolute;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: -20px;
  left: 190px;
 }
 .header-text h6{
  position: relative;
width: 330px;
left: 24px;

top: 270px;
left: 10px;
line-height: 24px;
font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #272727;

 }

 .full{
position: absolute;
margin-top: -70px;
background: #5600E2;
box-shadow: 0px 1.28789px 6.43943px rgba(86, 0, 226, 0.25);
border-radius: 5px;
 }

 .sub-titles{
  position: absolute;
  left: -5.57%;
font-weight: 700;
font-size: 13.7944px;
justify-content: space-between;
margin-top: -140px; 

 }

 .about-col-1 img {
  position: absolute;
  right: 75px;
  width: 60%;
  margin-top: 610px;
  
 }

 #about {
  background-image: url(img/About\ us\ circle.svg);
  
 }
 .sub-info{
  position: absolute;
  left: -127px;
  font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #272727;
margin-top: 110px;
 }

 .containers h1{
  position: absolute;
left: -100px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
 }

 .features1-box{
  position: absolute;
  margin-left: -15px;
  height: 160px;
  width: 42%;
  margin-top: 100px;
  
 }

 .icon1{
  position: absolute;
  left: -30px;
  top: 90px; 
  width: 20px;
 }

 .download-span span{
position: absolute;
left: -30px;
top: 35px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

 }
 /*.features-box p*/
 .features1-box .boxtext1 {
  width: 180px;
margin-left: -55px;
bottom: 10px;
font-family: 'Sora';
font-style: normal;
font-weight: 400;
  line-height: 15px;
  font-size: 12px;
  color: #272727;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  
 }
 .features2-box{
  position: absolute;
  margin-left: 160px;
  height: 160px;
  width: 42%;
  margin-top: 100px;
 }
 .icon2{
  position: absolute;
  left: -30px;
  top: 145px; 
  width: 20px;
 }

 .contribute-span span{
  position: absolute;
left: -35px;
top: 35px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
 }
 /*.features-box p*/
.features2-box .boxtext2{
  width: 180;
margin-left: -55px;
bottom: 10px;
  font-family: 'Sora';
font-style: normal;
font-weight: 400;
  line-height: 12px;
  font-size: 12px;
  color: #272727;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  
 }

 .features3-box{
  position: absolute;
  margin-left: 50px;
  height: 160px;
  width: 50%;
  margin-top: 300px;
 }

 .icon3{
  position: absolute;
  left: -10px;
  top: 165px; 
  width: 20px;
 }
 .view-span span{
  position: absolute;
left: -3px;
top: 35px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 10px;
align-items: center;
width: 144px;
height: 40px;
 }

 /*.features-box p*/
.features3-box .boxtext3{
  width: 180px;
  margin-left: -40px;
  bottom: 10px;
  font-family: 'Sora';
font-style: normal;
font-weight: 400;
  line-height: 15px;
  font-size: 12px;
  color: #272727;
  justify-content: space-between;
  position: absolute;
  text-align: center;
 }

 .sub-get span{
  position: relative;
  left: -48px;
  width: 103%;
  top: -185px;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
justify-content: space-between;
color: #5600E2;
 }

 .sub-getin {
  line-height: 26px;
  margin-left: 120px;
  font-size: 10px;
  font-family: "sora";
  font-weight: 400;
  font-style: normal;
  width: 145px;
  height: 49px;
  left: 90px;
  position: absolute;
  margin-top: -600px;
  color: #272727;
}

 .about-col-11 img{
  display: block;
  width: 200px;
  margin-top: -150px;
  height: 400px;
  left: -0px;
 
 }
 form input,
form textarea {
  display: block;
  width: 80%;
  height: 20px;
  left: -60px;
  top: -100px;

  font-family: 'Sora';
font-style: normal;
font-weight: 400;
line-height: 6px;
color: #CBCBCB;
justify-content: space-between;
}
.contact-right textarea {
  height: 150px;
}

.btn2{
  display: block;
  position: absolute;
  width: 180px;
  margin-top: 100px;
  left: 30px;
  justify-content: space-between;
margin-top: -80px;
}
}
