* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sora, sans-serif;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #fff;
}
#header1 {
  width: 100%;
  height: 135vh;
  background-image: url(img/Man\ on\ Laptop\ illustration\ -\ HomePage.svg);
  background-repeat: no-repeat;
  background-size: 700px 500px;
  background-position: 700px;

  cursor: pointer;
}

.header-text img {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}
.container {
  padding: 30px 5%;
 
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  position: relative;
  width: 107.75px;
  height: 28.36px;
  left: 40px;
  top: 10px;
  gap: 11px;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  top: 10px;
  position: relative;
  left: 50px;
}
nav ul li a {
  width: 100px;
  height: 23px;
  color: #575757;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.container span {
  color: #5600e2;
  width: 56px;
  height: 23px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}
.login {
  position: relative;
  background-color: #fff;
  width: 55px;
  height: 28px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #5600e2;
  padding: 5px;
  color: #5600e2;
  border-radius: 8px;
  cursor: pointer;
}
.login img {
  width: 14px;
  height: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: -2px;
}
.signup {
  position: relative;
  background-color: #5600e2;
  width: 55px;
  height: 28px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #5600e2;
  padding: 5px;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  right: 30px;
}

.full {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  position: absolute;
  width: 225px;
  height: 60px;
  left: 100px;
  top: 684px;
  background-color: #5600e2;
  box-shadow: 0px 4px 20px rgba(86, 0, 226, 0.25);
  border-radius: 12px;
  width: 185px;
  height: 20px;
  font-family: "sora";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  align-items: center;
  line-height: 20px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.header-text {
  margin-top: 10%;
  font-size: 20px;
  color: #272727;
}

.header-text h1 {
  position: absolute;
  width: 518px;
  height: 128px;
  left: 100px;
  top: 317px;
  font-family: "sora";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 64px;
  color: #272727;
}
.header-text h1 span {
  color: #5600e2;
  font-size: 40px;
}
.header-text1 {
  font-family: 'sora';
  font-weight: 400;
  color: #575757;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 470px;
  height: 20px;
  left: 125px;
  top: 285px;
  
  
}
.header-text1 img {
  position: absolute;
  left: -8px;
  width: 18px;
  height: 18px;
}

.header-text h6 {
  position: absolute;
  width: 503px;
  height: 163px;
  left: 100px;
  top: 457px;
  font-family: "sora";
  font-size: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 32px;
  color: #272727;
}

/*-----------about us----------*/

#about {
  padding: 80px 0;
  color: #272727;
  background-color: rgba(255, 247, 234, 0.5);
  background-image: url(img/About\ us\ circle.svg);
  background-repeat: no-repeat;
  background-size: 200px 100px;
  background-position: 805px;
  background-position-y: 110px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 150%;
  border-radius: 15px;
  margin-top: -50px;
  cursor: pointer;
}
.about-col-2 {
  flex-basis: 65%;
}
.about-col-2 h1 {
  color: #272727;
}
.sub-titles {
  font-size: 36px;
  font-weight: 700;
  color: #1d1e20;
  margin-left: 40%;
  padding: 20px;
  line-height: 70px;
}

.sub-info {
  margin-left: 40%;
  line-height: 30px;
  color: #272727;
  width: 419px;
  height: 210px;
  font-family: "sora";
  font-weight: 600;
  font-size: 16px;
}

/*-------our features------------*/

#services {
  padding: 30px 0;
  background-image: url(img/Core\ Features\ SVG\ bg.svg);
}
.containers h1 {
  color: #5600e2;
  margin-left: 40%;
  font-size: 20px;
  padding: 50px;
  margin-bottom: -50px;
  font-weight: 600;
  line-height: 25px;
}

.containers h5 {
  color: #131415;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  font-family: "sora";
  font-size: 16px;
  padding: 5px;
  text-align: center;
  line-height: 30px;
}

.features-box {
  background-color: #ffffff;
  width: 360px;
  height: 266px;
  border: 1px solid #5600e2;
  padding: 50px;
  margin: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin: 50px;
  box-sizing: border-box;
  margin-top: 20px;
}

.download-span span {
  width: 30px;
  margin-left: 70px;
  text-align: center;
  line-height: 90px;
  color: rgba(85, 0 226, 0.7);
  opacity: 0.8;
}
.contribute-span span {
  width: 30px;
  margin-left: 70px;
  text-align: center;
  line-height: 90px;
  color: rgba(85, 0 226, 0.7);
  opacity: 0.8;
}
.view-span span {
  width: 30px;
  margin-left: 30px;
  text-align: center;
  line-height: 90px;
  color: rgba(85, 0 226, 0.7);
  opacity: 0.8;
}

.icon1 {
  margin-top: -80px;
  margin-left: 100px;
  width: 20%;
  color: #5600e2;
}
.icon2 {
  margin-top: -80%;
  margin-left: 100px;
  width: 20%;
  color: #5600e2;
  gap: 24px;
}
.icon3 {
  margin-top: -80%;
  margin-left: 100px;
  width: 20%;
  color: #5600e2;
}
.features-box p {
  font-family: "sora";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  padding: 10px;
  line-height: 1.5;
  margin-top: -5px;
  color: #272727;
  text-align: center;
}

/*------------get in touch-------*/

#getintouch {
  padding: 80px 0;
  color: #272727;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-11 img {
  margin-top: 100px;
  width: 500px;
  height: 732px;
  position: absolute;
  background-color: rgba(255, 247, 234, 0.5);
  box-shadow: 70px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.about-col-22 {
  flex-basis: 65%;
}
.about-col-22 h1 {
  color: #272727;
}
.sub-get span {
  font-family: "sora";
  width: 231px;
  height: 45px;
  font-size: 36px;
  font-weight: 600;
  line-height: 45px;
  left: 750px;
  top: 70px;
  color: #5600e2;
  margin-left: -0%;
  padding: 10px;
  margin-left: 115px;
}
.btn2 {
  width: 151px;
  padding: 12px 24px 12px 24px;
  color: #fff;
  gap: 10px;
  background-color: #5600e2;
  border: none;
  border-radius: 12px;
  width: 20%;
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 45%;
  box-shadow: 0px 4px 20px rgba(86, 0, 226, 0.25);
}

.sub-getin {
  line-height: 26px;
  margin-left: 120px;
  font-size: 16px;
  font-family: "sora";
  font-weight: 400;
  font-style: normal;
  width: 504px;
  height: 49px;
  left: 750px;
  top: 123px;
}

.sub-info {
  margin-left: 40%;
}

/*--------Form--------*/

form input,
form textarea {
  width: 80%;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0;
  color: #cbcbcb;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 120px;
  position: relative;
  border: 1px solid #cbcbcb;
}

.contact-right textarea {
  height: 50vh;
}

/*--------footer---------*/

.footer {
  position: absolute;
width: 1355px;
height: 246px;
left: -6px;
top: 3005px;
background: #3D00A0; 
}

.footerlogo img {
  
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;
position: relative;
width: 194.5px;
height: 54.44px;
margin-top: 80px;
left: 64px;
}


.container .tex-center{
  
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 91px;
width: 890.5px;
height: 117px;
}

.col-md-a{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 134px;
height: 117px;

flex: none;
order: 0;
flex-grow: 0;
font-size: 10px;
position: relative;
top: 48px;
font-family: 'Sora';
font-style: normal;
font-weight: 600;
line-height: 20px;
left: 100px;
}
.col-md-a p{
  color: #CBB0F6;
}

.col-md-b{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 159px;
  height: 117px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: 10px;

  position: relative;
  top: 48px;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
line-height: 20px;
left: 40px;
}
.col-md-b p{
  color: #CBB0F6;
}

.col-md-c{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  
  width: 89px;
  height: 85px;
  flex: none;
  order: 2;
  flex-grow: 0; 
  font-size: 10px;
  position: relative;
  top: 48px;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
line-height: 20px;
}
.col-md-c p{
  color: #CBB0F6;
}

.vl{
  border: 1px solid #CBB0F6;
  height: 90px;
  position: relative;
  left: 440px;
  top: 50px;
  
}
.col-md-d{
  width: 235.5px;
height: 66px;
flex: none;
order: 3;
flex-grow: 0;
font-size: 10px;
position: relative;
top: 35px;
color: #CBB0F6;
}

.symbol{
  width: 100px;
  color: #CBB0F6;
  position: relative;
  right: 10px;
  top: 13px;
  text-decoration: none;
 
}
.circle{
  position: absolute;
right: 88.77%;
top: -72.36%;
bottom: -115.85%;
mix-blend-mode: normal;
opacity: 0.5;
}






/*------------for small screens------------*/

nav .fas{
  display: none;
}

@media only screen and (max-width: 600px) {
  #header1 {
    background-image: url(img/Man\ on\ Laptop\ illustration\ -\ HomePage.svg);
  }
  .header-text {
    margin-top: 10%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .login {
    font-size: 10px;
  }

  .signup {
    font-size: 10px;
    margin-left: 200px;
  }

  .full {
    width: 185px;
    font-size: 8px;
    margin-left: 10px;
  }
  nav ul li {
    margin: 5px 10px;
  }
  nav ul li a {
    font-size: 15px;
  }

  /*--------about us------*/

  .sub-titles {
    font-size: 20px;
    margin-left: 30%;
  }

  .sub-info {
    font-size: 10px;
    margin-right: -130px;
  }

  .circle {
    position: absolute;
    width: 30%;
    margin-top: -5px;
    margin-left: -23px;
  }
  /*-----our features----*/
  .containers h1 {
    color: #5600e2;
    margin-left: 25%;
    font-size: 15px;
  }
  .containers h5 {
    margin-left: 2%;
    font-size: 12px;
    padding: 5px;
  }
  .features-box {
    width: 250px;
    height: 45vh;
    padding: 50px;
    margin: 20px;
  }
  .download-span span {
    width: 30px;
    margin-left: 45px;
    font-size: 10px;
  }
  .contribute-span span {
    width: 30px;
    font-size: 10px;
  }
  .view-span span {
    font-size: 10px;
    width: 30px;
  }

  .icon1 {
    margin-top: -80px;
    margin-left: 60px;
    width: 20%;
  }
  .icon2 {
    margin-top: -80%;
    margin-left: 60px;
  }
  .icon3 {
    margin-top: -80%;
    margin-left: 60px;
  }
  .features-box p {
    font-size: 10px;
    margin-top: -5px;
  }

  /*----------get in touch------*/

  .about-col-11 img {
    margin-top: 100px;
    width: 200px;
    height: 732px;
  }

  .sub-get span {
    width: 321px;
    height: 45px;
    font-size: 15px;
  }

  .sub-getin {
    line-height: 2;
    margin-left: 120px;
    font-size: 10px;
  }

  .sub-info {
    margin-left: 40%;
  }

  /*--------Form--------*/

  form input,
  form textarea {
    width: 50%;
    padding: 15px;
    font-size: 10px;
  }
  .contact-right .btn2 {
    font-size: 5px;
    margin-left: 150px;
  }
}
